body {
    font-family: $bodyFont;
    font-size: 17px;
    color: $bodyFontColor;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
    color: $bodyFontColor;
}

.widget-title {
    font-size: 19px;
    font-weight: bold;
    margin: 0 0 14px;
    line-height: 30px;
}

p,
.widget-text {
    font-size: 17px;
    line-height: 26px;
}
