.header {
    width: 100%;
    margin-top: 90px;

    .container-fluid { 
        padding: 0; 
        overflow: hidden;

        img { width: 100%; }

        .col-sm-7,
        .col-sm-5 {
            // padding: 0;
            margin: 0;
        }

        .col-sm-7 {
            background-size: cover;
            height: 650px;
        }

        .col-sm-5 {
            background-size: cover;
            height: 325px;
        }
    }

    .post-meta {
        .container {
            padding-left: 15px;
            padding-right: 15px;
            margin: 30px 20px;

            .meta-category {
                background-color: $secondaryColor;
                padding: 10px;
                text-align: center;
                font-weight: 700;
                color: #fff;
                text-transform: uppercase;
                box-shadow: 0 5px 20px rgba(0,0,0,.2);

                &:hover {
                    text-decoration: none;
                }
            }

            .meta-titles {
                h2 {
                    position: absolute;
                    bottom: 50px;
                    font-weight: 700;
                    color: #fff;
                    text-shadow: 1px 1px 2px black;

                    a {
                        color: #fff;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}
